
<!DOCTYPE html>
<html>
<head>

</head>
<body>
<style>
    .footer {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 70px;
        background-color: white;
        color: white;
        text-align: center;
    }


</style>

    <div class="footer">
            <img style="height: 45px; width: 45px;" src="~/Content/Images/facebook.png" />
            <img style="height: 40px; width: 40px;" src="~/Content/Images/instagram.png" />
            <img style="height: 40px; width: 40px;" src="~/Content/Images/mail.png" />
            <img style="height: 40px; width: 40px;" src="~/Content/Images/twitter.png" />
    </div>

    </body>
</html>